<div class="loading" *ngIf="!load">
  Loading...
</div>

<div *ngIf="load" class="container">
  <div class="upper">
    <img *ngIf="true;else templ" src="../assets/img/night.jpg" alt="">
    <ng-template #templ>
      <img src="../assets/img/sunny.png" alt="">
    </ng-template>
    <div class="info-block">
      <div class="location"> {{time}} </div>
      <div class="location"> {{city}} </div>
      <div class="temp">{{ cuurentTemp | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="more-info">
    <h3> More information</h3>
    <div class="under-contaienr">
      <div class="temp-block">
        <div>
          <p><img src="../assets/img/cold.png" alt=""> <span>
              min
            </span> </p>
          <p>{{minTemp | number: '1.0-0'}}°C</p>
        </div>
        <div>
          <p>
            <img src="../assets/img/hot.avif" alt="">
            max
          </p>
          <p>{{maxTemp | number: '1.0-0'}}°C</p>
        </div>
      </div>
      <div class="other-block">
        <div>
          <p><img src="../assets/img/humidity.png" alt=""> min</p>
          <p>{{humidity}}%</p>
        </div>
        <div>
          <p><img src="../assets/img/wind.png" alt="">Wind</p>
          <p>{{windSpeed | number: '1.0-0'}} <span> km/h</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>