<div class="container">
  <div class="upper">
    <img src="../assets/img/night.jpg" alt="">
    <!-- <img src="../assets/img/sunny.jpg" alt=""> -->
    <div class="info-block">
      <div class="location">Baku</div>
      <div class="temp">{{ 20.21 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="more-info">
    <h3> More information</h3>
    <div class="under-contaienr">
      <div class="temp-block">
        <div>
          <p><img src="../assets/img/cold.png" alt=""> <span>
              min
            </span> </p>
          <p>19°C</p>
        </div>
        <div>
          <p>
            <img src="../assets/img/hot.avif" alt="">
            max
          </p>
          <p>20°C</p>
        </div>
      </div>
      <div class="other-block">
        <div>
          <p><img src="../assets/img/humidity.png" alt=""> min</p>
          <p>85%</p>
        </div>
        <div>
          <p><img src="../assets/img/wind.png" alt="">Wind</p>
          <p>11.83 <span> km/h</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>