.searhForm {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: center;
}

.searhForm input {
  background-color: var(--blue-1);
  color: white;
  border: var(--blue-1) 1px solid;
  border-radius: 40px;
  padding: 10px 30px;
  font-size: 1.1rem;

}

.searhForm input::placeholder {
  color: white;
}